@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <body style="background-color:yellow;">
        <h1 class="display-4">Welcome to Fare Matrix</h1>
        <p style="font-family:Courier; color:Blue; font-size: 20px;">A Fare Matrix is an official document from the Land Transportation Franchising and Regulatory Board that serves as a guide to passengers about the mandated fare kilometer in their areas..</p>
    </body>
</div>
